<!DOCTYPE html>
<html>
<head>
	<title>User</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('../components/navbar') %>
    <a href="/users/create">Register</a>
    <h1>Daftar User (<%=users.length %>)  </h1>
    <ul>
        <% if(users.length > 0) { %>
        <% users.forEach(function(user) { %>
    <li><a href="/users/<%=user.id %>"><%=user.name.toUpperCase() %></a></li>
    <% }) %>
    <% } else { %>
        <li>data user kosong</li>
    <% } %>
    </ul>
	<footer>
		<p class="text-center text-muted">© Copyright 2021 Tiana Adela Pratiwi</p>
	</footer>
</body>
</html>